// geral paragraph configs
p {
  font-size: 36px;
  font-weight: bold;
}

// section details
.animeSectionDetails {
  margin: auto;
  margin-top: 100px;
  width: 1200px;

  // paragraph anime name
  p {
    &:first-child {
      margin-bottom: 100px;
    }
  }

  // anime sinopse
  span {
    font-size: 28px;
    font-weight: 500;
  }
}

// principal informations
.animeHeader {
  display: flex;
}

// anime poster
.animeImageDiv {
  margin-right: 50px;
  width: 350px;
  height: 450px;
}

// other information
.animeOtherInformation {
  height: 983px;
  background-color: #f5f5f5;
  margin: 100px 0 100px 0;

  // paragraph other information
  p {
    padding: 100px;
    text-align: center;
  }
}

.animeOtherInformationDetail {
  display: flex;
  flex-direction: column;
  margin-left: 100px;

  span {
    padding: 25px;
  }
}
