// navbar container
.contentNavbar {
  // locking navbar
  position: sticky;
  top: 0;

  // navbar style
  background: #f3f3f3;
  width: 100%;
  height: 77px;
}

// logo style
.logo {
  // logo size
  height: 41px;
  width: 163px;

  // centralizing logo
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // prefixs
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.progressMainWrapper,
.progressMainStyle {
  height: 4px;
}

.progressMainWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
}

.progressMainStyle {
  background-color: #494949;
}
