// group container
.contentGroup {
  height: 494px;
  margin: 125px 0;

  //font style
  text-align: center;
  letter-spacing: 2px;
}

// group title
.groupCaption {
  // font configs
  font-size: 31px;
  font-weight: bold;

  //font style
  text-transform: uppercase;

  //margin
  margin-bottom: 125px;
}

// groups
.gridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// label groups
.groupLabel {
  // label size
  width: 300px;
  height: 300px;

  // margins
  margin: auto;

  //label display
  display: flex;
  flex-direction: column;

  // span font configs
  span {
    font-size: 24px;
  }

  // centralize icon
  svg {
    margin: 0 auto 25px auto;
  }
}

// title label
.titleLabel {
  font-weight: bold;
}

// text label
.textLabel {
  font-weight: 400;
}

@media (max-width: 768px) {
  // content group
  .contentGroup {
    height: 100%;
  }

  // groups
  .gridLayout {
    grid-template-columns: repeat(1, 1fr);
  }

  // label group
  .groupLabel {
    width: 90%;
    height: 100%;

    // fire label
    &:nth-child(1) {
      flex-direction: row;
    }

    // infinity label
    &:nth-child(2) {
      flex-direction: row-reverse;
      margin: 50px auto 50px auto;
    }
  }
}
